{% extends 'base.html.twig' %}

{% block title %}{{ aromate.name }}{% endblock %}

{% block body %}


<h1 class="text-center bg-light"> {{ aromate.name }}</h1>
<div class="text-center">
    <img src ="{{ aromate.picture }}" heigth="700" width="300">
</div>
<br>
<table class="table">
<tbody>
    <tr>
      <th scope="row">Semi:</th>
      <td>{{ aromate.semi }}</td>
    </tr>
    <tr>
      <th scope="row">Récolte:</th>
      <td>{{ aromate.recolt }}</td>
    </tr>
    <tr>
      <th scope="row">Exposition:</th>
      <td>{{ aromate.exposition }}</td>
    </tr>
    <tr>
      <th scope="row">Sol:</th>
      <td>{{ aromate.sol }}</td>
    </tr>
    <tr>
      <th scope="row">Arrossage:</th>
      <td>{{ aromate.watering }}</td>
    </tr>
    <tr>
      <th scope="row">Conseils:</th>
      <td>{{ aromate.advice }}</td>
    </tr>
<tbody>
</table>
<div class="text-center">
<br>
   <h3 class="text-center"> Doit etre planté en : </h3>
<br>
  <p>{{ aromate.MonthPlant}}</p>

{% endblock %}